<mat-toolbar>
  <mat-icon color="primary" style="margin-right: 10px;">feedback</mat-icon>
  <span>Жалобы и обращения</span>
  <span class="fill-remaining-space"></span>
  <!--<a mat-button color="primary" routerLink="view-audit-section" matTooltip="Просмотреть запросы">Аудит запросов</a>
  <button mat-button color="secondary" (click)="goBack()">Назад</button>-->
</mat-toolbar>
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="responsive">
  <table matTableExporter #exporter="matTableExporter" mat-table [dataSource]="ordersData" class="example-table">
    <!-- Created Column -->
    <ng-container matColumnDef="raion">
      <th mat-header-cell *matHeaderCellDef>Район</th>
      <td mat-cell *matCellDef="let row">{{row.raion}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="data_prin_jalob">
      <th mat-header-cell *matHeaderCellDef>Дата/время</th>
      <td mat-cell *matCellDef="let row">{{row.data_prin_jalob | date:'dd.MM.yyyy HH:mm'}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="komu_slujba">
      <th mat-header-cell *matHeaderCellDef>По вопросу</th>
      <td mat-cell *matCellDef="let row">{{row.komu_slujba}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="fioUser">
      <th mat-header-cell *matHeaderCellDef>ФИО оператора</th>
      <td mat-cell *matCellDef="let row">{{row.fioUser}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="fio">
      <th mat-header-cell *matHeaderCellDef>ФИО абонента</th>
      <td mat-cell *matCellDef="let row">{{row.fio}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="adres">
      <th mat-header-cell *matHeaderCellDef>Адрес</th>
      <td mat-cell *matCellDef="let row">{{row.adres}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="tel">
      <th mat-header-cell *matHeaderCellDef>Телефон</th>
      <td mat-cell *matCellDef="let row">{{row.tel}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="prichina">
      <th mat-header-cell *matHeaderCellDef>Причина обращения</th>
      <td mat-cell *matCellDef="let row">{{row.prichina}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="vypolnen">
      <th mat-header-cell *matHeaderCellDef>Ответ</th>
      <td mat-cell *matCellDef="let row">{{row.vypolnen}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="otv_liso">
      <th mat-header-cell *matHeaderCellDef>Ответил на вопрос</th>
      <td mat-cell *matCellDef="let row">{{row.otv_liso}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="ot_kogo">
      <th mat-header-cell *matHeaderCellDef>Ответ не устраивает</th>
      <td mat-cell *matCellDef="let row">{{row.ot_kogo}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="suppliersDisplayedColumns"></tr>
    <tr [class.blackList]="row.isBlack" mat-row *matRowDef="let row; columns: suppliersDisplayedColumns;"
      (click)="navigateTo(row)"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="100%">Данные отсутствуют</td>
    </tr>
  </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
