<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Северэлектро
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="assets/avatar.jpg" />

        <h4 class="name">Айбек К</h4>
        <p class="designation">Оператор 1</p>

        <mat-divider></mat-divider>

        <button (click)="goto('/crash-orders')" [class.selected]="router.isActive('/crash-orders', false)" mat-button
            class="menu-button">
            <mat-icon>engineering</mat-icon>
            <span>Заявки аварийные</span>
        </button>
        <button (click)="goto('/abonent-orders')" [class.selected]="router.isActive('/abonent-orders', false)"
            mat-button class="menu-button">
            <mat-icon>people_alt</mat-icon>
            <span>Заявки абонентские</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Бытовые абоненты</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Промышленные абоненты</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Помощь</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>