<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Северэлектро</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="assets/avatar.jpg" />

        <h4 class="name">{{userInfo.fioUser}}</h4>
        <p class="designation">{{userInfo.dol}}</p>

        <mat-divider></mat-divider>

        <button (click)="goto('/crash-orders')" [class.selected]="router.isActive('/crash-orders', false)" mat-button
            class="menu-button">
            <mat-icon>engineering</mat-icon>
            <span>Заявки аварийные</span>
        </button>
        <button (click)="goto('/abonent-orders')" [class.selected]="router.isActive('/abonent-orders', false)"
            mat-button class="menu-button">
            <mat-icon>people_alt</mat-icon>
            <span>Заявки абонентские</span>
        </button>
        <button (click)="goto('/abonent-list-byt')" [class.selected]="router.isActive('/abonent-list-byt', false)"
            mat-button class="menu-button">
            <mat-icon>assignment_ind</mat-icon>
            <span>Бытовые абоненты</span>
        </button>
        <button (click)="goto('/abonent-list-prom')" [class.selected]="router.isActive('/abonent-list-prom', false)"
            mat-button class="menu-button">
            <mat-icon>business</mat-icon>
            <span>Промышленные абоненты</span>
        </button>
        <button (click)="goto('/my-orders')" [class.selected]="router.isActive('/my-orders', false)" mat-button
            class="menu-button">
            <mat-icon>personal_injury</mat-icon>
            <span>Мои заявки</span>
        </button>
        <button (click)="goto('/chat')" [class.selected]="router.isActive('/chat', false)" mat-button
            class="menu-button">
            <mat-icon>chat</mat-icon>
            <span>Чат</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Помощь</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>