/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* notification */
snack-bar-container.success {
    background-color: #5cb85c;
    color: #fff;
}
snack-bar-container.warn {
    background-color: #f99157;
    color: #fff;
}
snack-bar-container.notification simple-snack-bar {
    font-size: 18xp !important;
    font-weight: bold;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }


  table {
    width: 100%;
  }
    td, th {
      padding: 3px !important;
    }
  .responsive {
    overflow: auto;
  }

  .bg-green {
    background-color: aquamarine;
  }


.custom-btn-color {
  background-color: #29942f !important;
  border: 1px solid #434396 !important;
  color: #ffffff;
}

.custom-btn--red-color {
  background-color: #d34545 !important;
  border: 1px solid #32c26e !important;
  color: #ffffff;
}

.text-red {
  text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: double;
}
